body {
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: Arial Narrow, bold;
    }

header {
      background-color: #003366;
      color: #ffffff;
      text-align: center;
      padding: 30px;
      font-size: 24px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

.gallery {
      background-color: #ffffff;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: auto;
    }

.gallery-item {
  background-color: #72C8E5;
  width: 95%; 
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .gallery-item {
    width: 49%;
  }
}

.gallery-item p {
      color: #003366;
      text-align: center;
      padding: 20px;
      font-size: 16px;
    }

.gallery-item img {
      height: 100%;
      width: auto;
      border-radius: 8px;
      display: block;
      margin: auto auto;
  }

.text-section {
      background-color: #003366;
      color: #ffffff;
      text-align: center;
      padding: 10px;
    }

.bandarosa {
  background-color: #CC0066;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.gallery-item button {
  background-color: #cc0066;
  color: #ffffff;
  border-radius: 6px;
  border: 0px solid #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  position: relative;
  bottom: 10px;
   }

